* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.ucom-header {
  width: 100%;
  border-bottom: 1px solid #eee;
}


.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 8px 40px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.top-left a {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  position: relative;
}

.top-left a:first-child::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #6cc24a;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-right a {
  text-decoration: none;
  color: #000;
}

.phone {
  font-weight: 500;
}

.lang {
  cursor: pointer;
}


.main-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
}

.logo img {
  height: 36px;
}


.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  position: relative;
}

.nav a:hover {
  color: #6cc24a;
}


.badge {
  background: #6cc24a;
  color: #fff;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 6px;
  margin-left: 5px;
}


.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 18px;
  cursor: pointer;
}

.pay-btn {
  background: #eaf6d8;
  border: none;
  padding: 8px 18px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.pay-btn:hover {
  background: #dff0c1;
}
