.plans {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
}


.card {
border-radius: 16px;
padding: 20px;
background: #fff;
box-shadow: 0 4px 12px rgba(0,0,0,0.08);
text-align: center;
}


.card h3 {
background: #7ad000;
color: white;
padding: 12px;
border-radius: 12px;
}


.price {
font-size: 28px;
font-weight: bold;
margin: 20px 0;
}


.button1 {
background: #7ad000;
color: white;
border: none;
padding: 12px 20px;
border-radius: 10px;
cursor: pointer;
}


.button1:hover {
opacity: 0.9;
}