.patet{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    gap: 20px;
}
.patetCards{
    width: 100%;
    display: flex;
    gap: 20px;
}
.patetCard{
    width: 318px;
    height: 470px;
    border: 0.5px solid gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.patetCard:hover{
    border: 0.5px solid greenyellow;
}
.info{
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.gumar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.anun{
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color:#7ebc0a;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    border-radius: 15px  15px 0 0;
}
button{
    background-color: #7ebc0a;
    font-size: 15px;
    font-weight: 700;
    width: 90%;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 15px;
    border: none;
}




button:hover{
    background-color: greenyellow;
}