.section1 > img{
    width: 323px;
    height: 460px;
    object-fit: cover;
    border-radius: 20px;
    border: 0.5px solid rgb(235, 235, 235)
}
.section1{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}